<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-grid style="height: 100%">

<ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">

    <ion-card flex>

        <ion-card-header  color="primary">
          <ion-card-title>Iniciar Sesión</ion-card-title>
        </ion-card-header>
      
        <ion-card-content shape="round">

            <form [formGroup]="loginform">
      
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="text" formControlName="correo"></ion-input>
          </ion-item>

          <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.correo">
                <div class="error-messages" *ngIf="loginform.get('correo').hasError(error.type) && (loginform.get('correo').dirty || loginform.get('correo').touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label  position="floating">Contraseña</ion-label>
              <ion-input  #passwordEyeRegister  [type]="passwordTypeInput"  formControlName="clave"></ion-input>
              <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
                  <ion-icon  [name]="iconpassword"></ion-icon>
              </button>
          </ion-item>
           

          <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.clave">
                <div class="error-messages" *ngIf="loginform.get('clave').hasError(error.type) && (loginform.get('clave').dirty || loginform.get('clave').touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>

          <ion-button shape="round" expand="block" (click)="login()" [disabled]=" !loginform.valid">Iniciar Sesión </ion-button>
          <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
            <a routerLink="/register">Registrarse</a>
          </ion-row>

        </form>

        </ion-card-content>
      
      </ion-card>

</ion-row>

</ion-grid>

</ion-content>
