ion-footer {
    --ion-toolbar-background-color: var(--ion-color-white);
  
    .message-input {
      padding-left: 8px;
    }
  }

  ion-header{

    text-align: center;

  .boton{
    position: fixed;
  }
}