<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>solicitudes</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

    <ion-list *ngIf="solicitud.length === 0">

        <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1,1,1]">

          <ion-label>
            <ion-skeleton-text width="40%"></ion-skeleton-text>
            <ion-skeleton-text width="80%"></ion-skeleton-text>
          </ion-label>

        </ion-item>

      </ion-list>

     <ion-list *ngIf="solicitud.length > 0">

          <ion-item *ngFor="let s of solicitud">
            <ion-label >
              <h3>{{username.nombre}}</h3>
              <h3>{{s.correo}}</h3>
            </ion-label>
            <ion-button *ngIf="validador===true" shape="round" (click)="add(username.nombre,s.correo,s.id)"  class="boton">aceptar</ion-button>
          </ion-item>
          
          </ion-list> 

</ion-content>
